<%- include ('../partials/header') %>

<main class="container mt-5">
   <h2 class="mb-4">Car Accessories</h2>

   <div class="row">
      <% accessories.forEach(accessory => { %>
         <div class="col-md-4 mb-4">
            <div class="card">
               <img src="/" class="card-img-top" alt="<%= accessory.name %>">
               <div class="card-body">
                  <h5 class="card-title"><%= accessory.name %></h5>
                  <p class="card-text"><%= accessory.description %></p>
                  <p class="card-text">Price: $<%= accessory.price %></p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
               </div>
            </div>
         </div>
      <% }) %>
   </div>

   <div class="row">
    <% accessories.forEach(accessory => { %>
       <div class="col-md-4 mb-4">
          <div class="card">
             <img src="/" class="card-img-top" alt="<%= accessory.name %>">
             <div class="card-body">
                <h5 class="card-title"><%= accessory.name %></h5>
                <p class="card-text"><%= accessory.description %></p>
                <p class="card-text">Price: $<%= accessory.price %></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
             </div>
          </div>
       </div>
    <% }) %>
 </div>

 <div class="row">
    <% accessories.forEach(accessory => { %>
       <div class="col-md-4 mb-4">
          <div class="card">
             <img src="/" class="card-img-top" alt="<%= accessory.name %>">
             <div class="card-body">
                <h5 class="card-title"><%= accessory.name %></h5>
                <p class="card-text"><%= accessory.description %></p>
                <p class="card-text">Price: $<%= accessory.price %></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
             </div>
          </div>
       </div>
    <% }) %>
 </div>


 <div class="row">
    <% accessories.forEach(accessory => { %>
       <div class="col-md-4 mb-4">
          <div class="card">
             <img src="/" class="card-img-top" alt="<%= accessory.name %>">
             <div class="card-body">
                <h5 class="card-title"><%= accessory.name %></h5>
                <p class="card-text"><%= accessory.description %></p>
                <p class="card-text">Price: $<%= accessory.price %></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
             </div>
          </div>
       </div>
    <% }) %>
 </div>

 
</main>
