<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main class="container">
  <% if (locals.message) { %>
    <div
      class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
      role="alert"
    >
    <h3><%= message %></h3>  
      <div class="mt-3">
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-primary">Register</a>
      </div>
    </div>
  <% } %>
  
</main>

<%- include ('../partials/footer') %>
