<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>


<main >
  <nav class="navbar bg-custom-wizard-beard-dark">
    <div>
      <h1 style="position: relative; left: 8rem; color: #FCC926; text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;">Your Listings</h1>      
    </div>  
  </nav>

  <div class="container-fluid">
    <div class=" d-flex bg-custom-wizard-beard" style="padding: 1rem;" >
      <a href="/sell/new" class="btn btn-custom-wizard-purple" style="position: relative; left: 10rem; color: white;"><h5 style="color: white;">List a Car to sell</h5></a>
    </div>

    <div class="table-responsive bg-custom-wizard-beard">


      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Color</th>
            <th>Price</th>
          
            <th>Miles</th>
            <th>Description</th>
            
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% cars.forEach(car => { %>
            <tr class="car-item">
              <td><%= car.make %></td>
              <td><%= car.model %></td>
              <td><%= car.color %></td>
              <td>$<%= car.price.toFixed(2) %></td>
             
              <td><%= car.miles %></td>
              <td><%= car.car_description %></td>
             
              <td>
                <form action="/sell/remove-listing" method="POST">
                  <input type="hidden" name="car_id" value="<%= car.car_id %>">
                  <button type="submit" class="btn btn-custom-wizard-purple"><h6 style="color: white;">Remove Listing</h6></button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
 
  </main>

<%- include ('../partials/footer') %>

