<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main class="container">
  <h1>Sell Page</h1>
  <div class="mt-3">
      <a href="/sell/new" class="btn btn-link">List a Car to sell</a>
    </div>

  <h2>Your Listings:</h2>
  <div class="car-list">
    <% cars.forEach(car => { %>
      <div class="car-item">
        <h3><%= car.make %> <%= car.model %></h3>
        <p>Color: <%= car.color %></p>
        <p>Price: $<%= car.price.toFixed(2) %></p>
        <p>Miles: <%= car.miles %></p>
        <p>Description: <%= car.car_description %></p>

        <% if (car.username) { %>
          <p>Seller: <%= car.username %></p>
        <% } %>

        <form action="/sell/remove-listing" method="POST">
          <input type="hidden" name="car_id" value="<%= car.car_id %>">
          <button type="submit">Remove Listing</button>
        </form>
      </div>
    <% }) %>
  </div>
</main>

<%- include ('../partials/footer') %>