<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<style>
    .btn-custom-wizard-purple{
      background-color: #57418A;
    }
    .bg-custom-wizard-gold{
      background-color: #FCC926;
    }
    .bg-custom-wizard-beard{
      background-color: rgb(210, 210, 255);
    }
    .bg-custom-wizard-beard-dark{
      background-color: rgb(145, 145, 194);
    }
  </style>

<main>
    <nav class="navbar bg-custom-wizard-beard-dark">
        <div class="container-fluid">
          <h1 style="position: relative; left: 8rem; color: #FCC926; text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;">List a Car to sell</h>
        </div>  
      </nav>
    <% if (locals.message) { %>
        <div
          class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
          role="alert" style="padding: 1rem;"
        >
          <%= message %>
          <div class="mt-3">
            <a href="/sell" class="btn btn-link">View Listing</a>
          </div>
        </div>
      <% } %>
        <div class="container-fluid" style="position: relative; top: 2rem; width: 40%; background-color: rgb(210, 210, 255); padding: 2rem;">
            <form action="/sell/new" method="POST"> 
                <div class="form-group row">
                    <label for="make" class="col-sm-2 col-form-label">Make:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="make" name="make" required/>
                    </div>
                   
                </div>
                
                <div class="form-group row">
                    <label for="model" class="col-sm-2 col-form-label">Model:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="model" name="model" required/>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="color" class="col-sm-2 col-form-label">Color:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="color" name="color" required/>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="price" class="col-sm-2 col-form-label">Price:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" id="price" name="price" required/>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="miles" class="col-sm-2 col-form-label">Miles:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" id="miles" name="miles" required/>
                    </div>
                    
                </div>
    
                <div class="form-group row">
                    <label for="mpg" class="col-sm-2 col-form-label">Engine Description:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="car_description" name="car_description" required/>
                    </div>
                </div>
                
               
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
            </form>
        </div>
</main>

<%- include ('../partials/footer') %>